<div class="row">
    <h1>Estudios</h1>
    <div class="col-lg-10">
        <ul>
            <li>
                <h2>Ingeniero en Mantenimiento Industrial</h2>
                <p> Universidad Gran Mariscal de Ayacucho</p>
                <p>Sucre, Venezuela</p>
            </li>
        </ul>
        <ul>
            <li>
                <h2>Programacion Basica</h2>
                <p>Egg</p>
                <p>Argentina</p>
            </li>
        </ul>
        <ul>
            <li>
                <h2>Se Programar</h2>
                <p>Ministerio de Desarrollo Productivo</p>
                <p>Argentina</p>
            </li>
        </ul>
    </div>
</div>
