<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/pedro.jpg"
        class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12  col-sm-2 col-md-2 col-lg-2 ">
        <p id="nombre">Pedro Manuel Malave Subero</p>
        <p>Full Stack Developer</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>
            Profesional con más de 10 años de experiencia en entornos comerciales y residenciales en el mantenimiento y la reparación de sistemas de climatización. Diagnostica problemas y completa reparaciones de manera rápida y eficaz para satisfacer las demandas de todos los clientes Capacitado para identificar problemas rápidamente y ofrecer explicaciones claras a los clientes.</p>
        </span>
    </div>
</div>
